{% extends 'admin_navbar.html' %}
{% load static %}
{% block title %} Library Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center"><u>Add Book</u></h1>
    <form method="POST"> {% csrf_token %}
    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Book Name</i></label>
            <input type="text" class="form-control mt-2" name="name" placeholder="Enter name of the Book" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Author Name</i></label>
            <input type="text" class="form-control mt-2" name="author" placeholder="Enter name of the Author" required>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">ISBN Number</i></label>
            <input type="number" class="form-control mt-2" name="isbn" placeholder="Enter ISBN number of the book" id="isbn" pattern="[0-9]{5}" required>
            <small id="isbnError" class="text-danger"></small>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Category</i></label>
            <input type="text" class="form-control mt-2" name="category" placeholder="Enter Category of the book" required>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-4">Add Book</button>
</div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Book is added successfully.")
    document.location = "/view_books"
    {% endif %}

    document.addEventListener("DOMContentLoaded", function() {
    var isbnInput = document.getElementById('isbn');
    var maxLength = 5;  

    isbnInput.addEventListener('input', function() {
        var isbnValue = isbnInput.value;
        if (isbnValue.length > maxLength) {
            isbnInput.value = isbnValue.slice(0, maxLength); // Trim to 5 digits
        }
    });
});

</script>
{% endblock %}